<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="learning.shinesdev.mylastmovie">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <permission android:name="learning.shinesdev.mylastmovie.READ_DATABASE" android:protectionLevel="normal"/>
    <permission android:name="learning.shinesdev.mylastmovie.WRITE_DATABASE" android:protectionLevel="normal"/>

    <application
        android:allowBackup="true"
        android:configChanges="locale"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="learning.shinesdev.mylastmovie.provider.MovieContentProvider"
            android:authorities="learning.shinesdev.mylastmovie"
            android:readPermission="learning.shinesdev.finalproject.READ_DATABASE"
            android:writePermission="learning.shinesdev.finalproject.WRITE_DATABASE"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="learning.shinesdev.mylastmovie.activity.ReminderSetting"
            android:parentActivityName="learning.shinesdev.mylastmovie.activity.MainActivity" />

        <receiver android:name="learning.shinesdev.mylastmovie.widget.MovieWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/movie_app_widget_info" />
        </receiver>
        <receiver
            android:name="learning.shinesdev.mylastmovie.services.DailyReminderReceiver"
            android:enabled="true"
            android:exported="true" />


        <activity
            android:name="learning.shinesdev.mylastmovie.activity.tvshow.DetailTVShowActivity"
            android:parentActivityName="learning.shinesdev.mylastmovie.activity.tvshow.TVShowFragment" />
        <activity
            android:name="learning.shinesdev.mylastmovie.activity.movie.DetailMovieActivity"
            android:parentActivityName="learning.shinesdev.mylastmovie.activity.movie.MovieFragment" />
        <activity android:name="learning.shinesdev.mylastmovie.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="learning.shinesdev.mylastmovie.widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTE_VIEWS" />
        <service
            android:name="learning.shinesdev.mylastmovie.services.DailyReminderService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="learning.shinesdev.mylastmovie.services.ReleaseReminderService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name="learning.shinesdev.mylastmovie.provider.MovieUpdateService" />
    </application>

</manifest>